{% extends 'base.html' %}
{% block body %}
    <title>Cookie Clicker | Registrer</title>

    <h1>Register</h1>
<div class="register">
  <form action="/registerRegister" method="POST">
      <label for="navn">Name:</label>
      <input type="text" id="navn" name="navn" required>
 
      <label for="mail">Mail:</label>
      <input type="email" id="mail" name="mail" required>
 
      <label for="passord">Password:</label>
      <input type="password" id="passord" name="passord" required>      
 
      <button type="submit">Register</button>
  </form>
 
</div>
<p>Already have an account: <a href="/login">login</a></p>
{% endblock %}